@import "src/sass/abstracts/variables";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; //10px
}

body {
	font-family: $font-family;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $main-text-color;
	margin: 0 auto;
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: $font-size-base;
}

dl {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 0;
}

dd {
	margin-inline-start: 0;
	margin-left: 0;
}

a {
	color: $link-text-color;
	text-decoration: none;
}

p {
	line-height: $line-height;
}

ul {
	margin-block-start: 0;
	margin-left: 0;
	padding-left: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	list-style-type: none;
}

h1, .h1{
	font-size: $h1-font-size;
	font-weight: $font-weight-bold;
	color: $heading-text-color;
}

h2, .h2{
	font-size: $h2-font-size;
	font-weight: $font-weight-bold;
	color: $heading-text-color;
}

h3, .h3{
	font-size: $h3-font-size;
	font-weight: $font-weight-bold;
	color: $heading-text-color;
}

h4, .h4{
	font-size: $h4-font-size;
	color: $heading-text-color;
}

h5 .h5{
	font-size: $h5-font-size;
	color: $heading-text-color;
}

h6, .h6{
	font-size: $h6-font-size;
	color: $heading-text-color;
}