<section id="search" class="home-search">

  <h1 class="m-v-0">Znaleźliśmy dla Ciebie 13 warsztatów w Warszawie</h1>

  <p>Jeśli chcesz dowiedzieć się w jakiej odległości od Ciebie znajdują się warsztaty, wpisz swój adres w wyszukiwarkę.
    Przy każdym warsztacie wyświetlimy odległośćod Twojego miejsca zamieszkania.</p>

  <form action="search">
    <div class="form-search">
      <input type="search" placeholder="Wpisz swój adres" class="form-field p-l-0">
    </div>
<!--    <div class="text-align-right">-->
<!--      <button type="submit" class="btn-primary-raised" aria-label="search" name="search" data-category="search button">Szukaj</button>-->
<!--    </div>-->
  </form>

  <div class="text-align-right m-t-10">
    <a href="#map" class="map-link align-items-center"><img class="map-icon" src="/img/map-icon.png" alt="ikona mapy">Mapa</a>
  </div>

  <section id="search-list" class="m-t-20">
    <article class="search-list-grid">

      <img src="/img/car.png" class="search-list-img img-responsive" alt="zdjęcie warsztatu samochodowego">

      <dl class="search-list-text">
        <dt><h3 class="m-t-0 m-b-10">Mechanic's Garage Centrum</h3></dt>
        <dd>
          <strong class="text-dark">3km od Ciebie</strong> &middot; Tarnobrzeska 4, Starołęka, Warszawa
          <p><span class="rating star"></span> 4.0 (15 opinii)</p>
          <a href="#detailrepairshop">Więcej o warsztacie</a>
        </dd>
      </dl>

      <div class="search-list-summary">
        <div class="text-align-right">
          <s class="old-price">1400zł</s><span class="price-discount">1000zł</span><br>
          <small aria-label="Warsztat spełnia najwyższe standardy jakości usług. Cena promocyjna przysługuje tylko użytkownikom Dobrymechanik.pl" class="discount-info">(taniej o 400zł niż w ASO)</small><img src="/img/information-icon.png" alt="ikona informacji">
          <div class="text-align-right">
            <a href="#schedule-meeting"><button type="button" class="btn-primary-raised" aria-label="schedule meeting" name="schedule meeting" data-category="schedule meeting button">Umów wizytę</button></a>
          </div>
        </div>
      </div>

    </article>
  </section>


</section>

<aside id="map" class="sidebar-search">
  <figure></figure>
</aside>