@import "src/sass/abstracts/variables";

$buttons: (
  primary: $primary-button-color,
  default: $default-grey,
);

button {
  text-decoration: none;
  cursor: pointer;
  border-radius: $button-border-radius;
  padding: $button-padding;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: $button-letter-spacing;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@each $button, $color in $buttons {

  &.btn-#{$button}-raised {
    color: $button-light-text-color;
    background-color: $color;
    border-style: $button-border-style;

    @media only screen and (max-width: $breakpoint-tablet) {
      width: 100%;
    }

    &:hover, &:focus {
      background-color: darken($color, 10%);
    }

    &:disabled {
      background-color: lighten($primary-button-color, 50%);
    }
  }

  &.btn-#{$button}-outline {
    color: $color;
    border: 0.1rem solid $color;
    background-color: transparent;
  }
}

.btn-container {
  padding-top: 1.5rem;

  @media only screen and (max-width: $breakpoint-tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    background-color: $body-background;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    button {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    text-align: right;
  }
}