@import "src/sass/abstracts/variables";

.form-field {
  font-size: $font-size-base;
  color: $form-field-text-color;
  background-color: $form-field-color;
  border-radius: $form-field-border-radius;
  border-style: $form-border-style;
  padding: $form-field-padding;
  //display: $form-field-default-display;
  cursor: $form-field-cursor;
  width: 100%;
}

//form select
.form-select {
  @extend .form-field;
  position: relative;

  &:after {
    content: "\ea29";
    position: absolute;
    top: 0;
    right: 0;
  }
}

//form-search
.form-search {
  background-image:url("https://img.icons8.com/small/24/000000/search.png");
  background-repeat:no-repeat;
  background-position:left 1rem center;
  padding-left: 4rem;
  background-color: $form-field-color;
  outline:0;
}