@import "src/sass/abstracts/variables";

.form-field {
  font-size: $font-size-base;
  color: $form-field-text-color;
  background-color: $form-field-color;
  border-radius: $form-field-border-radius;
  border-style: $form-border-style;
  padding: $form-field-padding;
  margin-bottom: 1rem;
  cursor: $form-field-cursor;
  width: 100%;
}

.validator-hint {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &#validation-name, &#validation-email, &#validation-phone{
    display: none;
  }

  .validator-text {
    margin-left: 0.5rem;
    color: $warning-text-color;
  }
}

//form select
.form-select {
  @extend .form-field;
  position: relative;

  &:after {
    content: "\ea29";
    position: absolute;
    top: 0;
    right: 0;
  }
}

//form-search
.form-search {
  background-image:url('/svg/icons/magnify.svg');
  background-repeat:no-repeat;
  background-position:left 1rem center;
  padding-left: 4rem;
  background-color: $form-field-color;
  outline:0;
}

.radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 0.1rem solid $brand-color;
  transition: 0.1s all linear;
  position: relative;
  height: 2rem;
  width: 2rem;

  &:checked {
    border: 0.5rem solid $radio-border-checked-color;
  }

  @media only screen and (max-width: $breakpoint-tablet) {

  }
}