@import "src/sass/abstracts/variables";

.header-container {
  background-color: $body-background;
  padding: 1rem;
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
  border-bottom: 0.1rem solid $divider-color;

  #progress-bar {
    position: absolute;
    bottom: 0;
    background-color: red;
    height: 5px;
    width: 100px;
  }

  .grid-container {
    align-items: center;
  }

  .main-logo-img {
    height: 4rem;
    width: auto;
  }

  .slogan {
    font-weight: $font-weight-base;
    color: $main-text-color;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {

  .main-logo-img {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  nav :not(.main-logo, .main-logo-img) {
    display: none;
  }
}




