@import "src/sass/abstracts/variables";

#search-list{

  .search-list-summary {
    text-align: right;

    .old-price {
      font-size: $h4-font-size;
    }

    .price-discount {
      color: $warning-text-color;
      letter-spacing: 0.2rem;
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;
      margin-left: 1rem;
    }

    .discount-info {
      color: $warning-text-color;
      font-size: $h4-font-size;
      margin-top: 0;
      margin-bottom: 0;
    }

    //tooltip information
    small:hover {
      position: relative;
    }

    small[aria-label]:hover:after {
      background: $main-text-color;
      color: #fff;
      content: attr(aria-label);
      text-align: left;
      line-height: $line-height;
      padding: 1rem 1rem;
      border-radius: 0.5rem;
      font-size: $h5-font-size;
      max-width: 30rem;
      position: absolute;
      z-index: 1;
    }
  }

}

//search list grid
.search-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

//mobile
@media only screen and (max-width: $breakpoint-tablet) {

  .search-list-summary {
    margin-top: 2rem;
  }

  small[aria-label]:hover:after {
    left: -200%;
    top: -400%;
  }

  #map, .map {
    display: none;
  }

  //search list grid
  .search-list-img { grid-column: 1/2; }
  .search-list-text { grid-column: 2/5; }
  .search-list-summary { grid-column: 2/5; }
}

//tablet only
@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {

  //main container
  .home-search-grid {
    grid-column: 1/8;
  }

  //aside container
  .aside-search-grid {
    grid-column: 8/13;
  }
}

//tablet & desktop
@media only screen and (min-width: $breakpoint-tablet) {

  small[aria-label]:hover:after {
    left: 110%;
    top: -400%;
  }

  //map
  .map {
    position: relative;
    text-align: right;
    margin-left: 4rem;
    top: -4%;

    .map_canvas {
      overflow:hidden;
      background:none !important;
    }
  }

  .map-link {
    display: none;
  }

  //home search page
  .home-search-grid { grid-column: 2/8; }
  .aside-search-grid { grid-column: 8/12; }

  //search list grid
  .search-list-grid {
    .search-list-img { grid-column: 1/2; }
    .search-list-text { grid-column: 2/4; }
    .search-list-summary { grid-column: 4/5; }
  }
}
