@import "src/sass/abstracts/variables";

#search-list{

  .rating {
    background-image: url('/svg/star.svg');
    filter: grayscale(50%);
    fill: $default-grey;
    background-repeat: repeat-x;
    background-position: 0;
    background-size: 2.4rem 2.4rem;
    height: 2.4rem;
    width: 12rem;
  }

  .search-list-summary {
    text-align: right;

    @media only screen and (max-width: $breakpoint-tablet) {
      margin-top: 2rem;
    }

    .old-price {
      font-size: $h4-font-size;
    }

    .price-discount {
      color: $warning-text-color;
      letter-spacing: 0.2rem;
      font-size: $h2-font-size;
      font-weight: $font-weight-bold;
      margin-left: 1rem;
    }

    .discount-info {
      color: $warning-text-color;
      font-size: $h4-font-size;
      margin-top: 0;
      margin-bottom: 0;
    }

    //tooltip information
    small:hover {
      position: relative;
    }

    small[aria-label]:hover:after {
      background: $main-text-color;
      color: #fff;
      content: attr(aria-label);
      text-align: left;
      line-height: $line-height;
      padding: 1rem 1rem;
      border-radius: 0.5rem;
      font-size: $h5-font-size;
      max-width: 30rem;
      position: absolute;
      z-index: 1;
    }
  }

}

//map
.map {
  position: relative;
  text-align: right;
  margin-left: 4rem;
  top: -4%;

  .map_canvas {
    overflow:hidden;
    background:none !important;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {

  small[aria-label]:hover:after {
    left: -200%;
    top: -400%;
  }

  #map {
    display: none;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {

  small[aria-label]:hover:after {
    left: 110%;
    top: -400%;
  }

  .map-link {
    display: none;
  }

}
