<section id="contact-data" class="steps-grid">

  <p class="steps-indicator">Umówienie wizyty - krok 3 z 4</p>

  <h1>Podaj dane kontaktowe</h1>

  <h3>Dane kontaktowe:</h3>

  <form action="search" method="GET" accept-charset="utf-8">
    <input type="text" placeholder="Imię i nazwisko" class="form-field">
    <input type="text" placeholder="Adres" class="form-field">
    <input type="text" placeholder="Imię i nazwisko" class="form-field">

    <div class="btn-container">
      <a href="#verification-code"><button type="button" class="btn-primary-raised" aria-label="schedule meeting" name="verification code" data-category="verification code">Wyślij kod</button></a>
    </div>
  </form>




</section>

<aside class="aside-steps-grid">

</aside>