<section class="user-summary-grid">
  <section class="user-data-card">

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Wybrany warsztat</dt>

      <dd class="-info-description user-data-description">Mechanic's Garage Centrum, Tarnobrzeska 4, Starołęka 61-354 Poznań</dd>
      <a class="user-data-change" href="#change-user-data">Zmień</a>
    </dl>

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Informacje o aucie</dt>

      <dd class="-info-description user-data-description">Mazda MX-5 2.0, 2012</dd>
      <a class="user-data-change" href="#changeuserdata">Zmień</a>
    </dl>

    <dl class="small-service-info-grid">
      <dt class="-info-title small-service-title">Wybrane usługi</dt>

      <dd class="small-service-description -info-description">Diagnostyka komputerowa silnika</dd>
      <dd class="small-service-summary -info-description">1200zł</dd>

      <dd class="small-service-description -info-description">Klimatyzacja - napełnienie</dd>
      <dd class="small-service-summary -info-description">300zł</dd>

      <a class="small-service-summary">Edytuj</a>
    </dl>

  </section>
</section>

<section id="contact-data" class="steps-grid-revert">

  <p class="steps-indicator">Umówienie wizyty - krok 3 z 4</p>

  <h1>Podaj dane kontaktowe</h1>

  <h3>Dane kontaktowe:</h3>

  <form action="search" method="GET" accept-charset="utf-8">
    <input type="text" placeholder="Imię i nazwisko" class="form-field">
    <input type="text" placeholder="Adres" class="form-field">
    <input type="text" placeholder="Imię i nazwisko" class="form-field">

    <div class="btn-container">
      <a href="#verification-code"><button type="button" class="btn-primary-raised" aria-label="schedule meeting" name="verification code" data-category="verification code">Wyślij kod</button></a>
    </div>
  </form>
</section>
