<section class="user-summary-grid">
  <section class="user-data-card">

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Wybrany warsztat</dt>

      <dd class="-info-description user-data-description">Mechanic's Garage Centrum, Tarnobrzeska 4, Starołęka 61-354 Poznań</dd>
      <a class="user-data-change" href="#change-user-data">Zmień</a>
    </dl>

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Informacje o aucie</dt>

      <dd class="-info-description user-data-description">Mazda MX-5 2.0, 2012</dd>
      <a class="user-data-change" href="#change-user-data">Zmień</a>
    </dl>

    <dl class="small-service-info-grid">
      <dt class="-info-title small-service-title">Wybrane usługi</dt>

      <dd class="small-service-description -info-description">Diagnostyka komputerowa silnika</dd>
      <dd class="small-service-summary -info-description">1200zł</dd>

      <dd class="small-service-description -info-description">Klimatyzacja - napełnienie</dd>
      <dd class="small-service-summary -info-description">300zł</dd>

      <a class="small-service-summary">Edytuj</a>
    </dl>

  </section>
</section>

<section id="contact-data" class="steps-grid-revert">

  <p class="steps-indicator">Umówienie wizyty - krok 3 z 4</p>

  <h1>Podaj dane kontaktowe</h1>

  <h3>Dane kontaktowe:</h3>

  <form name="userDataForm" accept-charset="utf-8">
    <input type="text" placeholder="Imię i nazwisko" class="form-field" name="name">
    <div id="validation-name" class="validator-hint">
      <img src="/img/icons/information-icon.png" alt="ikona informacji">
      <small class="validator-text">podaj poprawne imię i nazwisko</small>
    </div>
    <input type="text" placeholder="Adres e-mail" class="form-field" name="email">
    <div id="validation-email" class="validator-hint">
      <img src="/img/icons/information-icon.png" alt="ikona informacji">
      <small class="validator-text">podaj poprawny adres e-mail</small>
    </div>
    <input type="text" placeholder="Numer telefonu" class="form-field" name="phone">
    <div id="validation-phone" class="validator-hint">
      <img src="/img/icons/information-icon.png" alt="ikona informacji">
      <small class="validator-text">podaj poprawny numer telefonu</small>
    </div>

    <div class="btn-container">
      <button type="submit" class="btn-primary-raised" value="submit" aria-label="schedule meeting" name="verificationCode" data-category="verification code">Wyślij kod</button>
    </div>
  </form>
</section>
