<section id="schedule-meeting" class="steps-grid">

  <p class="steps-indicator">Umówienie wizyty - krok 1 z 4</p>

  <h1>Umów wizytę i zapłać mniej</h1>

  <p>Poniżej znajdziesz podsumowanie wybranych przez Ciebie usług oraz ich koszt. W każdej chwili możesz dodać nowe usługi oraz zmienić dane.</p>

  <section class="user-data-card">

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Wybrany warsztat</dt>
      <dd class="-info-description user-data-description">Mechanic's Garage Centrum, Tarnobrzeska 4, Starołęka 61-354 Poznań</dd>
      <a class="user-data-change" href="#change-user-data">Zmień</a>
    </dl>

    <dl class="user-data-grid">
      <dt class="-info-title user-data-title">Informacje o aucie</dt>
      <dd class="-info-description user-data-description">Mazda MX-5 2.0, 2012</dd>
      <a class="user-data-change" href="#changeuserdata">Zmień</a>
    </dl>

    <div class="service-info-grid m-b-20">
      <dl class="service-description">
        <dt class="-info-title">Wybrane usługi</dt>
        <dd class="-info-description"><p>Diagnostyka komputerowa silnika</p></dd>
        <dd class="-info-description"><p>Klimatyzacja - napełnienie</p></dd>
        <a href="add-other-services">Dodaj inne usługi</a>
      </dl>

      <dl class="old-price-description">
        <dt class="-info-title">Śr. cena w ASO</dt>
        <dd class="-info-description"><p><s>1400zł</s></p></dd>
        <dd class="-info-description"><p><s>600zł</s></p></dd>
      </dl>

      <dl class="new-price-description">
        <dt class="-info-title">Nasza cena</dt>
        <dd class="-info-description"><p class="-text-summary">1200zł</p></dd>
        <dd class="-info-description"><p class="-text-summary">300zł</p></dd>
      </dl>
    </div>

    <div class="service-info-summary">

      <dl class="service-info-grid p-t-0">
        <dd class="-info-description service-description"><p>Razem:</p></dd>
        <dd class="-info-description old-price-description"><p><s>2000zł</s></p></dd>
        <dd class="-text-summary new-price-description"><p class="text-warning">1500zł</p></dd>
      </dl>

      <p class="-text-summary">Dzięki Dobrymechanik.pl oszczędzisz 500zł (26%)</p>

    </div>

  </section>

  <div class="btn-container">
    <a href="#choose-date"><button type="submit" class="btn-primary-raised" aria-label="schedule meeting" name="scheduleMeeting" data-category="schedule meeting button">Dalej</button></a>
  </div>

</section>

<aside class="aside-steps-grid">
  <section class="card-guarantee">
    <ul>
      <li>
        <img class="guarantee-icon" src="img/icons/certified.png" alt="guarantee icon">
        Szybka wycena online oraz konkrencyjne ceny.
      </li>
      <li>
        <img class="guarantee-icon" src="img/icons/certified.png" alt="guarantee icon">
        Roczna gwaracja na usługi oraz części.
      </li>
      <li>
        <img class="guarantee-icon" src="img/icons/certified.png" alt="guarantee icon">
        Tylko sprawdzone warsztaty polecane przez użytkowników.
      </li>
    </ul>
  </section>
</aside>